.home {
  background-color: rgb(234, 234, 234);
  width: 100%;
  min-height: 100vh;

  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  .todoWrapper {
    background-color: #fff;

    width: 100%;
    max-width: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 5px;
    box-shadow: -2px 4px 12px rgba(0, 0, 0, 0.083);

    padding: 30px;

    h1 {
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

        &:nth-child(2) {
          margin-left: 10px;
          color: #5b5b5b3d;
        }
      }
    }
    p {
      color: rgb(160, 160, 160);
      font-size: 10px;
    }

    .clearBtn {
      height: 30px;
      width: 100px;
      border: none;
      border-radius: 5px;
      margin-left: auto;
      margin-bottom: 10px;
      cursor: pointer;

      background-color: #e76f6f;
      color: rgb(255, 255, 255);

      outline: none;

      &:hover {
        background-color: #d06262;
        color: rgb(255, 255, 255);
      }

      &:focus {
        border: 1px solid rgba(172, 24, 24, 0.575);
        box-shadow: 0 0 1px 1px rgba(245, 125, 125, 0.835);
      }
    }

    .list {
      display: flex;
      flex-direction: column;

      animation: 0.5s fade linear;

      border: 1px solid rgb(223, 223, 223);
      padding: 20px;
      background-color: rgb(243, 243, 243);

      width: 100%;
      height: 100%;

      border-radius: 5px;

      position: relative;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0%;
  }

  25% {
    opacity: 5%;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 480px) {
  .home {
    padding: 5px;
    .todoWrapper {
      padding: 20px;
    }
  }
}
