.form {
  width: 100%;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 100%;

    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;

    outline: none;

    border: 1px solid rgb(235, 235, 235);

    margin-bottom: 15px;

    padding-right: 35px;

    &:focus {
      border: 1px solid rgba(107, 125, 182, 0.287);
      box-shadow: 0 0 1px 1px rgba(92, 92, 92, 0.408);
    }
  }

  button {
    background-color: transparent;
    position: absolute;
    right: 10px;
    bottom: 23px;

    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;

    border-radius: 5px;
    
    &:focus {
      border: 1px solid rgba(107, 125, 182, 0.287);
      box-shadow: 0 0 1px 1px rgba(92, 92, 92, 0.408);
    }
  }
}
